/* APRESENTACAO */

main {
  grid-area: main;
}


main .apresentacao {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 700px;
  opacity: 0;
  transition: 1s;
}

main .ativo {
  opacity: 1;
}

main .apresentacao .texto {
  grid-column: 1;
}

main .apresentacao .texto div{
  margin-top: 48px;
  display: flex;
}

main .apresentacao .texto div img{
  width: 50px;
  height: 50px;
}

main .apresentacao .texto div h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 57px;
  color: #3c3b3b;
  margin-left: .2em;
}

main .apresentacao .texto p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: #3c3b3b;
  margin: 0 10px 0 0;
  margin: 1em 0;
}

main .apresentacao .svg {
  grid-column: 2;
}

main .apresentacao .svg img {
  display: relative;
  max-width: 450px;
  max-height: 500px;
}

/* CELULAR */

@media (max-width: 1000px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "main main";
    grid-template-columns: 1fr 1fr;
  }

  main .apresentacao {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 2fr 1fr;
    height: auto;
    justify-items: center;
    padding: 10px;
    margin-top: 3%;
    text-align: justify;
  }

  main .apresentacao .texto div{
    grid-column: 1;
    grid-template-rows: 1;
  }

  main .apresentacao .texto div h2 {
    font-size: 24px;
  }

  main .apresentacao .svg {
    grid-column: 1;
    grid-template-rows: 2;
  }

  main .apresentacao .svg img {
    display: relative;
    max-width: 350px;
    max-height: 400px;
    margin-top: -10%;
  }
}

@media (max-width: 400px) {
  main .apresentacao .texto {
    max-width: 300px;
    
  }
  main .apresentacao .texto div h2 {
    font-size: 18px;
  }
  main .apresentacao {
    text-align: left;
    grid-template-columns: 90%;
    margin: -3% 0 0 3%;
    text-align: justify;
  }
  
}
