/* APRESENTACAO */

main {
  grid-area: main;
}

main .apresentacao {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 700px;
}

main .apresentacao .texto {
  grid-column: 1;
}

main .apresentacao .texto h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 57px;
  color: #3c3b3b;
  display: flex;
  align-items: center;
}

main .apresentacao .texto h2::before {
  content: url("../img/FORMAS/Triangulo.svg");
}

main .apresentacao .texto p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: #3c3b3b;
  margin: 0 0 0 10px;
}

main .apresentacao .svg {
  grid-column: 2;
}

main .apresentacao .svg img {
  display: relative;
  max-width: 450px;
  max-height: 500px;
}

/* CELULAR */

@media (max-width: 1000px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "main main";
    grid-template-columns: 1fr 1fr;
  }

  main .apresentacao {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    height: 800px;
    justify-items: center;
    padding: 10px;
  }

  main .apresentacao .texto {
    grid-column: 1;
    grid-template-rows: 1;
  }

  main .apresentacao .texto h2 {
    font-size: 24px;
  }

  main .apresentacao .texto h2::before {
    content: url("../img/FORMAS/Triangulo.svg");
  }

  main .apresentacao .svg {
    grid-column: 1;
    grid-template-rows: 2;
  }

  main .apresentacao .svg img {
    display: relative;
    max-width: 350px;
    max-height: 400px;
    margin: 0;
  }
}

@media (max-width: 400px) {
  main .apresentacao .texto {
    max-width: 300px;
  }
}
