main .equipe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
}

main .equipe .titulo {
  grid-column: 2;
  grid-row: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 57px;
  color: #3c3b3b;
  display: flex;
  align-items: center;
  padding: 10px;
}

main .equipe .titulo::before {
  content: url(../img/FORMAS/Estrela.svg);
}

main .equipe .cards {
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .equipe .cards .card {
  max-width: 300px;
  height: 450px;
  background: linear-gradient(147.23deg, #0c8a9b -19.67%, #66ccbf 94.97%);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  box-shadow: -12px 10px 0px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -12px 10px 0px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -12px 10px 0px 0px rgba(0, 0, 0, 0.14);
  margin: 25px 0;
}

main .equipe .cards .card span {
  margin: 40px 0 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

main .equipe .cards .card img {
  max-width: 130px;
  height: 130px;
  border: 5px solid #3f3d56;
  border-radius: 50%;
}

main .equipe .cards .card h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 57px;
  color: #ffffff;
  padding: 10px;
  letter-spacing: 5px;
}

main .equipe .cards .card p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: #f8f8f8;
  max-width: 80%;
  text-align: center;
  line-height: 150%;
}

main .equipe .cards .card .redes {
  position: absolute;
  background: #3f3d56;
  width: 100%;
  height: 100px;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .equipe .cards .card .redes a {
  color: #f8f8f8;
  font-size: 40px;
}

main .equipe .cards .card .redes a:hover {
  color: #66ccbf;
}

@media (max-width: 1000px) {
  main .equipe {
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
  }

  main .equipe .cards {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }

  main .equipe .titulo {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    font-size: 24px;
    padding: 0;
  }
}
