footer {
  grid-area: rodape;
  background: linear-gradient(134.62deg, #dd1374 14.59%, #ffd17f 110.91%);
  height: 700px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto 30px;
}

footer img {
  grid-column: 1/5;
  width: 100%;
  position: absolute;
  top: -1px;
}

footer .conteudo {
  grid-column: 2/3;
  grid-row: 1;
  align-self: center;
}

footer .conteudo div{
  display: flex;
  align-items: center;
  padding: 20px 0;
}

footer .conteudo div .forma{
  position: static;
  width: 40px;
  height: 30px;
}

footer .conteudo div h2 {
  color: #f8f8f8;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 57px;
  display: flex;
  align-items: center;
  margin-left: .2em;
}

footer .conteudo form label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

footer .conteudo form input[type="text"] {
  background: #f9f9f9;
  border: 3px solid #fbb97e;
  border-radius: 10px;
  padding: 0.5rem;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  height: 40px;
  min-width: 350px;
  margin: 10px 0;
}

.botao {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

footer .conteudo .botao input[type="submit"] {
  background: #ab3520;
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

footer .conteudo .botao input[type="submit"]:hover {
  background: #20ab70;
}

footer .endereco {
  grid-column: 3/5;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

footer .endereco h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  text-align: start;
  color: #ffffff;
}

footer .direitos {
  background: transparent;
  grid-row: 2;
  width: 100%;
  height: 30px;
  text-align: center;
  grid-column: 1/5;
}

footer .direitos p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #f8f8f8;
}

footer .conteudo form {
  display: flex;
  flex-direction: column;
}

footer .endereco h3 {
  color:white;
  font-size: 2.5rem;
  font-size: Roboto;
  margin: 0 10px 0 0;
}

footer .endereco a{
  text-decoration: none;
  color:rgb(239, 241, 248);
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  align-content:center;
}

footer .endereco p{
  margin-left: 15px;
}

footer .endereco a i{
  text-decoration: none;
  color: rgb(239, 241, 248);
  font-size: 2rem;
}

@media (max-width: 1000px) {
  footer {
    grid-column: 1/3;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 30px;
    height: 900px;
  }

  footer .conteudo {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    padding: 40px 0;
  }

  footer .endereco {
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
  }

  footer .direitos {
    justify-content: center;
    grid-column: 1;
    grid-row: 3;
  }

  footer .endereco h4 {
    font-size: 20px;
  }
}
