header {
  grid-area: header;
  background: linear-gradient(-45deg, #ffd17f, #dd1374, #0c8a9b, #66ccbf);
  background-size: 350% 350%;
  height: 610px;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 5fr;
  position: relative;
  animation: gradiente 10s ease infinite;
}

@keyframes gradiente {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* MENU */
header nav {
  grid-column: 2/4;
  grid-row: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header nav img {
  width: 200px;
  cursor: pointer;
}

header nav .menu ul {
  display: flex;
  list-style: none;
}

header nav .menu ul li + li {
  margin-left: 40px;
}

header nav .menu ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #ffffff;
  transition: 0.5s;
}

header nav .menu ul li a:hover {
  color: #f7d425;
}

/* CONTEUDO */

header .conteudo {
  grid-column: 2/4;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 100px;
}

header .conteudo .conteudo-1 {
  grid-column: 1;
  justify-self: start;
}

header .conteudo .conteudo-1 h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 101px;
  letter-spacing: 1px;
  color: #eda82f;
}

header .conteudo .conteudo-1 p {
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #eda82f;
  max-width: 490px;
}

header .conteudo .conteudo-2 {
  grid-column: 2;
  justify-self: end;
}

header .conteudo .conteudo-2 img {
  max-width: 400px;
}

/* SVG */

header .svgHEADER {
  position: absolute;
  bottom: -1px;
  width: 100%;
}

/* CELULAR */

@media (max-width: 1000px) {
  header {
    display: grid;
    grid-template-columns: 100%;
    height: 850px;
  }

  header nav {
    grid-column: 1;
    padding: 30px;
  }

  header .conteudo {
    padding: 30px;
    grid-column: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
  }

  header .conteudo .conteudo-1 {
    grid-column: 1;
    grid-row: 1;
  }
  header .conteudo .conteudo-2 {
    grid-column: 1;
    grid-row: 2;
  }

  header .conteudo .conteudo-2 img {
    max-width: 350px;
    max-height: 400px;
  }
}

@media (max-width: 400px) {
  header .conteudo .conteudo-1 h2 {
    font-size: 60px;
    color: #eda82f;
  }

  header .conteudo .conteudo-1 p {
    font-size: 28px;
  }

  header nav .menu ul li + li {
    margin-left: 20px;
  }

  header nav .menu ul li a {
    font-size: 14px;
  }

  header .conteudo .conteudo-2 img {
    max-width: 300px;
    max-height: 350px;
  }
}
