* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Nunito";
  color: #3c3b3b;
  background: #f8f8f8;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
    "header header header header"
    ". main main ."
    "rodape rodape rodape rodape";
}

@media (max-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: 100%;
  }
}
