/* SERVICOS */

main .servicos .texto {
  grid-column: 3/4;
  margin-left: 30px;
}

main .servicos .texto h2 {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 57px;
  color: #3c3b3b;
  display: flex;
  align-items: center;
}

main .servicos .texto h2::before {
  content: url("../img/FORMAS/Circulo.svg");
}

main .servicos .texto p {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: #3c3b3b;
  margin: 0 0 0 10px;
}

main .servicos .texto p + p {
  margin-top: 1em;
}

main .servicos .svg {
  grid-column: 2;
  display: flex;
  align-content: start;
}

main .servicos .svg img {
  max-width: 550px;
  max-height: 600px;
}
