main .conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 700px;
  opacity: 0;
  transition: 1s;
}

main .ativo {
  opacity: 1;
}

main .conteudo .texto {
  grid-column: 2;
}

main .conteudo .texto div {
  display: flex;
  align-items: center;
}

main .conteudo .texto div img{
  width: 35px;
  height: 35px;
}

main .conteudo .texto div h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 57px;
  color: #3c3b3b;
  display: flex;
  align-items: center;
  margin-left: .2em;
}

main .conteudo .texto p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #3c3b3b;
  margin: 0 10px 0 0;
  margin: 1em 0;
}

main .conteudo .svg {
  grid-column: 1;
}

main .conteudo .svg img {
  display: relative;
  max-width: 450px;
  max-height: 500px;
}

/* Estilos para a lista de serviços */
.texto ul {
    list-style-type: none; /* Remover marcadores padrão da lista */
    padding-left: 0; /* Remover recuo à esquerda */
}

.texto h3 {
    color: #333; /* Cor do título */
    font-size: 18px; /* Tamanho da fonte do título */
    font-weight: bold; /* Deixar o título em negrito */
    margin: 0 0 10px; /* Espaçamento inferior do título */
}

.texto li {
    font-size: 16px; /* Tamanho da fonte dos itens */
    line-height: 1.6; /* Espaçamento entre linhas */
}

@media (max-width: 1000px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "main main";
    grid-template-columns: 1fr 1fr;
  }

  main .conteudo {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 2fr 1fr;
    height: auto;
    justify-items: center;
    padding: 10px;
    margin-left: 3%;
    text-align: justify;
  }

  main .conteudo .texto {
    grid-column: 1;
    grid-row: 1;
  }

  main .conteudo .texto div h2 {
    font-size: 24px;
  }

  main .conteudo .svg {
    grid-column: 1;
    grid-row: 2;
    margin-top: -10%;
  }

  main .conteudo .svg img {
    display: relative;
    max-width: 350px;
    max-height: 400px;
    margin: 0;
  }
}

@media (max-width: 400px) {
  main .conteudo .texto {
    max-width: 300px;
  }
}
