main .conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 700px;
  opacity: 0;
  transition: 1s;
}

main .ativo {
  opacity: 1;
}

main .conteudo .texto {
  grid-column: 2;
}

main .conteudo .texto div {
  display: flex;
  align-items: center;
}

main .conteudo .texto div img{
  width: 35px;
  height: 35px;
}

main .conteudo .texto div h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 57px;
  color: #3c3b3b;
  display: flex;
  align-items: center;
  margin-left: .2em;
}

main .conteudo .texto p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #3c3b3b;
  margin: 0 10px 0 0;
  margin: 1em 0;
}

main .conteudo .svg {
  grid-column: 1;
}

main .conteudo .svg img {
  display: relative;
  max-width: 450px;
  max-height: 500px;
}

@media (max-width: 1000px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "main main";
    grid-template-columns: 1fr 1fr;
  }

  main .conteudo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr;
    height: auto;
    justify-items: center;
    padding: 10px;
  }

  main .conteudo .texto {
    grid-column: 1;
    grid-row: 1;
  }

  main .conteudo .texto div h2 {
    font-size: 24px;
  }

  main .conteudo .svg {
    grid-column: 1;
    grid-row: 2;
  }

  main .conteudo .svg img {
    display: relative;
    max-width: 350px;
    max-height: 400px;
    margin: 0;
  }
}

@media (max-width: 400px) {
  main .conteudo .texto {
    max-width: 300px;
  }
}
