.rodape {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "formulario endereco";
  position: relative;
}

.forms {
  grid-area: formulario;
}

.endereco {
  grid-area: endereco;
}

.endereco img {
  position: absolute;
  bottom: 0;
  right: 0;
}
